{% sw_extends '@SwagTrainig/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_hotline_content %}
    <div id="collapseFooterHotline"
         class="footer-column-content collapse js-footer-column-content footer-contact"
         aria-labelledby="collapseFooterHotlineTitle">
        <div class="footer-column-content-inner">
            <p class="footer-contact-hotline">
                {{ 'footer.serviceHotline'|trans|sw_sanitize }}
            </p>
        </div>
    </div>
{% endblock %}


{% block layout_footer_vat %}{% endblock %}


{% block layout_footer_copyright %}
    <div class="footer-copyright">
        Modification du footer
    </div>
{% endblock %}
